:root {
  background-color: #F9FFFA;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180' viewBox='0 0 100 100'%3E%3Cg stroke='%233CCC53' stroke-width='0' %3E%3Crect fill='%23EAF5E9' x='-60' y='-60' width='114' height='240'/%3E%3C/g%3E%3C/svg%3E");
    --text-color: #04622a;
    --main-bg-color: #3a633a;
    --main-text-color: #fff6f6;
    --main-btn-bg-color: #83b895;
  }
  
  body,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* main text styling */

  body {
    font-family: "Exo 2", sans-serif , bold;
    font-weight: 400;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 2rem;
  }

  h2 {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
  }
  
  h3 {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 1.3rem;
    color: #ee7bba;
    font-weight: 700;
  }

  

  /* Create a container for the main content */

  .container {
    max-width: 1000px;
    width: 100%;
    padding: 1px;
  }
  
  /* Header styling */
  header {
    font-family: "Patrick Hand" ;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
 
  /* Album cover and list styling */
img{
  border-radius: 5%;
}


   #album-image {
    height: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5%;
    border: 5px inset #83b895;
}

.album-list {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 40px;
  border-radius: 5%;

}
.album-list button {
  height: auto;
  width: auto;
  cursor:pointer;
  background-color: #538d53;
  border-radius: 5%;
  padding: 8px 8px;
}

  
/* Song name styling */
  #song-name{
    color: #f089c1;
    padding-left: 10px;
  }

/* button styling */
  
  .custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 50%;
    padding: 8px 8px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  /* buttons under progress bar */
  .control-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  .control-2 button {
    background-color: #00000000;
    color: var(--main-text-color);
    border: none;
    border-radius: 50%;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* progress bar styling */

  .progress-bar {
    width: 70%;
    height: 10px;
    background-color: #e9c8c89f;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 3px double #f089c294;

  }
  
  #progress-bar-fill {
    display: block;
    height: 100%;
    background-color: #f089c294;
    width: 0;
    transition: width 0.3s ease;
  }
  
  /* Footer styling */

  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    width: 100%;
  }

/* fonts */
  .patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  
/* song duration styling  */

#song-time{
  display: flex;
  justify-content:end;
  padding: 1px;
  color: #28a859;
  font-weight: 600;
  margin: auto;
  z-index: 1;
}

/* extras */
.fancy-symbols{
  color: rgb(241, 187, 71);
  z-index: 1;
}