/* this is to center all of the content in the body section to the middle of the page */
body {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  font-size: 1.1rem;
}

  header {
    padding: 2rem 0;
  }
   /* styling of the texts  */
  h1 {
    font-size: 6rem;
    font-family: "pf-videotext";
    /* added a slight boarder around all of the texts making it easier to read  */
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  h2 {
    font-size: 5rem;
    font-family: "pf-videotext";
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h3 {
    font-size: 4rem;
    font-family: "pf-videotext";
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h4 {
    font-size: 3rem;
    font-family: "pf-videotext";
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h5 {
    font-size: 2rem;
    color: hsl(212, 55%, 71%);
    font-family: "pf-videotext";
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  nav {
    border: 4px none rgba(229, 229, 203, 0.4);
    margin-bottom: 40px;
    /* i wanted the user to be able to access the navigation bar at all times, so i used sticky so it could stick to the top as the user scrolls down the page */
    position: sticky;
    top: 0;
  }
  /* i wanted the buttons to change colours as i hovered  */
  ul li:hover {
    background-color: #8f93d459;

  } 
  /* styling of the nav bar  */
  ul {
    margin: 0;
    padding: 0;
    min-height: 10px;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }
  /* styling of the nav bar items */
  li {
    background-color: #16123a86;
    padding: 0 10px;
  }

    /* the font was found in Adobe fonts, because I wanted a pixelated font to match the background, and google fonts didnt have any easily comprehensible ones available, so i resorted to Adobe fonts  */
.PF Videotext Regular {
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
}

a {
  /* i wanted to get rid of the underline in the link bc it didnt look coherent with my webpage so i set the text decoration to none  */
  text-decoration: none;
}
/* edited div to make all gifs centered  */
div {
  display:flex;
  justify-content: center;
  }
  /* footer settings  */
  .footer {
    padding: 40px;
    text-align: center;
    margin-top: 40px;
  }