/* universal selector, selects everything */
* {
  color: hotpink;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  
}

/* element selector, only selects particular elements */
h1 {
  color: rgb(155, 13, 72);
  font-size: 5rem;
  font-family: "Honk";
}

/* grouping selectors, comma to group both p n span  */
p,
span {
  color: rgb(255, 64, 89);
}

/* class selector, group n style different elements together
(.myclass1 {color: rgb} */
.my-colors {
  color: rgb(240, 19, 170);
}

/* id selector, ids are unique, no one uses this its stupif n unecessary 
#id1 */
#venue {
  color: rgb(248, 205, 48);
}
/* data attribute selector idk what this means i ms os confusie */
[data-email="email"] {
  color: blueviolet;
}

/* colouring within the table list thingy  */
ul > li {
  color: rgb(255, 162, 0);
}

li > strong {
  color: rgb(0, 187, 255);
}

/* cascade, read from top to bottom, the ones at the bottom takes priority(same selectors)  */
/* specificity, specific properties takes priority
style attribute > id > class/pseudo class/attribute > elements >*  */

body {
  text-align: center;
  width: 600px;
  line-height: 1.5;
  background-image: radial-gradient(circle, #fff0f9, #faebf9, #f3e7fb, #eae3fc, #dee0fe, #d0e2ff, #c0e4ff, #b1e6ff, #9dedff, #88f3ff, #75fafd, #6afff1);
}
li {
  text-align: right;
}
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 900;
  font-style: normal;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}
.minecraft
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


/* inheritance apply tp parent apply to chjild, only styling not layout*/

/* units for size 
px(pixel), rem, %, vw/vh */

/* text properties: 
font/color/font-size/line-height/text-align/text-transform/font-weight
default is 16px = 1rem, rem scales texts accordingly */

/* color properties: color/background-color/border-color/border */